<div class="appointments-list" *ngIf="!prescriptionViewed">
    <h2>Appointments List</h2>
    <table>
      <thead>
        <tr>
          <th>Patient Name</th>
          <th>Patient Email</th>
          <th>Patient Phone Number</th>
          <th>Doctor Name</th>
          <th>Doctor Email</th>
          <th>Doctor Phone Number</th>
          <th>Appointment Date</th>
          <th>Time Slot</th>
          <th>Appointment Status</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.patientName }}</td>
          <td>{{ appointment.patientEmail }}</td>
          <td>{{ appointment.patientNumber }}</td>
          <td>{{ appointment.doctorName }}</td>
          <td>{{ appointment.doctorEmail }}</td>
          <td>{{ appointment.doctorNumber }}</td>
          <td *ngIf="!appointment.isRescheduleClicked">{{ appointment.appointmentDate }}</td>
          <td *ngIf="!appointment.isRescheduleClicked">{{ appointment.timeSlot }}</td>
         
          <td *ngIf="appointment.isRescheduleClicked"><input type="date"  [(ngModel)]="selectedDate" (change)="onSelectedDateChange(appointment)" ></td>
          <td *ngIf="appointment.isRescheduleClicked">
            <select id="appointmentTime" name="appointmentTime" [(ngModel)]="selectedTimeslot">
              <option *ngFor="let slot of slots" [value]="slot">{{ slot }}</option>
            </select>
          </td>
          <td>{{appointment.status}}</td>
          <td>
            <button class="mar" *ngIf="appointment.status == 'Prescription Added'" (click)="viewPrescription(appointment)" >View Prescription</button>

            <button class="mar" *ngIf="appointment.isRescheduleClicked" (click)="submitReschedule(appointment)" >Submit</button>
            <button class="mar" *ngIf="service.isPatient && appointment.status == 'Consultation Requested'" (click)="updateAppointment(appointment, 'Cancel')">Cancel</button>
            <button class="mar" *ngIf="service.isPatient && appointment.status !== 'Rejected' && appointment.status == 'Completed' && appointment.status !== 'Prescription Added' && !appointment.isRescheduleClicked" (click)="RescheduleClicked(appointment)" >Reschedule</button>
            <button class="mar" *ngIf="appointment.isRescheduleClicked" (click)="cancelReschedule(appointment)" >Cancel Reschedule</button>

            <button class="mar" *ngIf="service.isDoctor && (appointment.status == 'Consultation Requested' || appointment.status == 'Rescheduled')" (click)="updateAppointment(appointment, 'Approved')">Approve</button>    
            <button class="mar" *ngIf="service.isDoctor && (appointment.status == 'Consultation Requested' || appointment.status == 'Rescheduled')" (click)="updateAppointment(appointment,'Rejected')">Reject</button>
            <button class="mar" *ngIf="service.isDoctor && appointment.status == 'Approved'" (click)="updateAppointment(appointment, 'Completed')" >Complete Consultation</button>
            <button class="mar" *ngIf="service.isDoctor && appointment.status == 'Completed'" (click)="addPrescription(appointment)">Add Prescription</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="margins" *ngIf="prescriptionViewed">
        
    <table class="prescriptions-table">
        <thead>
            <tr>
                <th>Medicine Name</th>
                <th>Dosage</th>
                <th>Duration</th>
                <th>Times Per Day</th>
               
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prescription of prescriptions; let i = index">
                <td>{{ prescription.medicineName }}</td>
                <td>{{ prescription.dosage }}</td>
                <td>{{ prescription.duration }}</td>
                <td>{{ prescription.timesPerDay }}</td>
                
            </tr>
        </tbody>
    </table>
    <button class="margins" (click)="backClicked()">Back</button>
</div>
  