<nav class="c-r">
  <ul class="margins">
    <li><a routerLink="/register" routerLinkActive="active">Register</a></li>
    <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a routerLink="/doctors" routerLinkActive="active">Doctors</a></li>
    <li><a routerLink="/patients" routerLinkActive="active">Patients</a></li>
    <li><a routerLink="/appointments" routerLinkActive="active">Appointments</a></li>
    <li><a routerLink="/bookAppointment" routerLinkActive="active">Book Appointments</a></li>
    
  </ul>
</nav>
<router-outlet></router-outlet>