
.form-group {
    margin-bottom: 15px;
  }
  
  label {
    width: 20%; /* Set label width */
    display: inline-block; /* Display labels in block */
    text-align: right; /* Align labels to the right */
    margin-right: 10px; /* Add some space between label and input */
    font-weight: bold;
  }
  

  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 350px;

  }
  
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="tel"],
  input[type="number"],
  input[type="date"],

  textarea,
  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20%;
  }


  /* Add your custom styles here */
.doctors-list,
.patients-list,
.prescription-form,
.container  {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007bff;
    color: white;
  }
  
  /* Reset default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Style header */
header {
  background-color: #f0f0f0;
  padding: 10px 0;
  text-align: center;
}

/* Style navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
 // margin-right: 10px;
}

nav ul li a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s ease;
}

.c-r{
  background-color: #716d6e;
}

nav ul li a:hover {
  background-color: #0056b3;
}

/* Style active link */
.active {
  background-color: #0056b3;
}

.margins{
  margin: 20px;
}